<ion-view view-title="Login">
  <ion-content>
    <form name="vm.loginForm">
      <div class="list">
        <label class="item item-input item-floating-label" for="loginName">
          <span class="input-label">Login Name</span>
          <input ng-model="vm.loginName" ng-change="vm.clearAlert()"
            type="text" name="loginName" placeholder="Login Name">
        </label>
        <label ng-if="vm.alert" class="item">
          {{ vm.alert }}
        </label>
        <label class="item">
          <button ng-click="vm.login(vm.loginName)"
            class="button button-block button-positive" type="submit">
            Log in
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
