<div class="list card">
  <form class="item item-input">
    <label class="item-input-wrapper">
      <input ng-model="todoVM.newTodoTitle" type="text" placeholder="What to do?">
    </label>
    <button ng-click="todoVM.createAction(todoVM.newTodoTitle)" class="button">
      <i class="icon ion-plus-circled"></i>
    </button>
  </form>
  <div class="item">
    <button ng-click="todoVM.setFilter('complete')" class="button button-default">Complete</button>
    <button ng-click="todoVM.setFilter('incomplete')" class="button button-default">Incomplete</button>
    <button ng-click="todoVM.setFilter('all')" class="button button-default">All</button>
  </div>
  <div ng-repeat="todo in todoVM.todos | filter:todoVM.filterFn[todoVM.filter]"
    ng-click="todoVM.completeAction(todo)" class="item item-icon-left">
    <a ng-click="todoVM.complete(todo)">
      <i class="icon" ng-class="todoVM.getIconClass(todo)"></i>
    </a>
    <span ng-show="!todo.editing">
      {{ todo.title }}
      <a ng-click="todoVM.editTodo(todo)">
        Edit
      </a>
    </span>
    <span ng-show="todo.editing">
      <input type="text" ng-model="todo.title">
      <a ng-click="todoVM.doneEditing(todo)">
        Save
      </a>
    </span>
  </div>
</div>
